<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h1>Burger To Eat</h1>

            <ul>
                {{#each burgerObj}}
                 {{#unless this.devoured}}
                <li>
                    <div id="data" class="mt-2">
                    <p>
                        {{this.id}}. {{this.burger_name}}
                      </p>
                        <span class="col-lg-2">  

                <select id="{{this.id}}" class="customerName" required>
                    {{#each ../customerObj}}
                        <option value="{{this.id}}">{{this.name}}</option>
                   {{/each}}
                  </select>  
                            {{!-- <input type="text" placeholder="customer" width="200" name="customerName"></br> --}}
                            <button class="btn btn-primary devoBurger" data-burgerid="{{this.id}}">Devour it!</button>
                      
                      </span>
                    </div> 
                </li>
                {{/unless}} 
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-4 mt-5">

            <h2>Add a Burger </h2>
            <form id="addBurger" class="button-size" method="POST"  action="/burgers">
                <textarea type="text" name="burgers" required></textarea>
                </br>
                <button class="btn btn-primary" id="submit" type="submit">Save Burger!</button>
            </form>
            <h2>Add a Customer </h2>
             <form id="addCustomer" class="button-size" method="POST"  action="/customers">
                <textarea type="text" name="customers" required></textarea>
                </br>
                <button class="btn btn-primary" id="submit" type="submit">Save customers!</button>
             </form>
        </div>
        <div class="col-lg-4">
            <h1>Devoured Burger </h1>

            <ul>
                {{#each burgerObj}} 
                {{#if this.devoured}}
                <li>
                    <p id="devo">
                        {{this.id}}. {{this.burger_name}} eaten by {{this.customer.name}}
                    </p>
                </li>
                {{/if}} 
                {{/each}}
            </ul>
        </div>
    
  </div>
</div>